.card-container {
    margin: 25px 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 80%;
    background-color: white;
    padding: 10px;
}

.card-number {
    position: absolute;
    top: 0;
    right: 0;
}

span {
    font-weight: 200;
}